VERIFY_API = 

LOGIN_API = 

SIGNUP_API = 

GETNOTES_API = 

POSTNOTES_API = 

PATCHNOTES_API = 

DELETENOTES_API = 

REQNOTES_API = 

GETPROFILE_API = 

POSTPROFILE_API = 

GAP_API = 

REVISION_API = 

LOGOUT_API = 